<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		PTOVH5J3XM8oZNZbe4Bd7xN5tcksOeqyzv5w+mf4cK8=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		vKBaCe6vOtexUxrHFrAb6DPNICjV++wQbEQYNLs3zyY=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		Ut1P7VgbTy7dR9Z5J81xwy04gSguKKas139AIgJ8d6Q=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		NZ5RY+/DT5moXMecw0kF6mrvQPxzRZosxsgl17X4fb8=
		</data>
		<key>Drivers\CrScreenshotDxe.efi</key>
		<data>
		RDwehDd3itoMfU948yiGGwIqk7xF/fx9OMNFvhke3+U=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		AAMrsjETle6d2OHWxUw+xEZg3apcs7HkuydlxFCJ06E=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		H4NN7AQZOTF1SZgeSIDVJ8h7cOnyYGAQVGfRoF9iYr8=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		wqGhsJZYzIdrQBixCK55QVedcqqoPWz84J0SxZ8UlQY=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		9evHyMSoHZRCB4q029G436G7j4s6emHWoRYy5rDBsJU=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\Info.plist</key>
		<data>
		YHamZEsMJ6RBiTYnBwA6sW2E5Gtt8Inv2kI0l94WKzk=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\MacOS\CPUFriend</key>
		<data>
		0uIubY0gsDRvRDLzbmYwpNK1orpd1HD5d0iK3uEPTNc=
		</data>
		<key>Kexts\CPUFriendDataProvider.kext\Contents\Info.plist</key>
		<data>
		HAsHGRyWZupBltTt7DcDv0yVZamcckgP66ZtWPnnCtw=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\Info.plist</key>
		<data>
		zNHFdzq5oFp9bnseE0PYE7ZtKs5bJc7GyUgfBg2ARwc=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\MacOS\IntelMausiEthernet</key>
		<data>
		I1AhRdY35RfzX24O4E3Mm0sbr9gUQOQbFU7OiNLFlQc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		l3iRiKg9e0HKoXYiAUyDdDlw4VAyz32FMwfEmrIvxsg=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		Un+j6lPH+59aIVrmoVjoz6T8zfa2EGpbX0Rhrb+vBjI=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		Lrobr5sY/3LEa/Z/XYxR6j/RfD5a6x6glLkHpPC5TBY=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		jkD5/+6T/FgmPiyYzBSYSKR3SyPFt466gCZYVlGcgfw=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		Vq0gA0cYKk8HvnvYGc140tG+acqefcDFZKV2DvOk4cI=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		oC5EHzGOZaDmuST4DLK8NcUiunV11Zg1VEvM3PizqqU=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		+xiu5BudTS9PD4VtptNdlKiQ5vh1TcaQ+NS0W6ojoC4=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		ObLdN5KRjSBaFR4D9rtznJ0QnZvpDlt3/zrV8gqUG10=
		</data>
		<key>Kexts\USBMap.kext\Contents\Info.plist</key>
		<data>
		j8WBOYeIwKVynT/fPGdspqSJIQ7SFgD1A53p4NTSJlM=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		YO7/Qvshg16e1yv8ivI6RIs2B6aq6DWdo+klw4wMpYw=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		RS7s1p+hwSkJNPSJwTcpvVHY1bdof9fde5Z8vIXWEZU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		unIg96Py0at7Q6kZnVF9Fn0iL0zygWweIhzfiMinqV4=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		osdIMFGLctSQZ+6abL6VfMJhiDyLJztnOS96EGaxA54=
		</data>
		<key>Resources\Font\Font_1x.bin</key>
		<data>
		UbpyosL4nwwA6nHT+hU6EOZcObI/n1sZwA/b5snHQxU=
		</data>
		<key>Resources\Font\Font_1x.png</key>
		<data>
		cCpjm973z5PWFF0Ir3qAksRwfAjPujdpJT8cC7GbG5Q=
		</data>
		<key>Resources\Font\Font_2x.bin</key>
		<data>
		s2rSstzd4UZ1lFLSUUt/eAC5xomPooRWaWXWn2EbsYg=
		</data>
		<key>Resources\Font\Font_2x.png</key>
		<data>
		T7Rc18QRoPovyg6kwfwqATD4rwvNxxJ07ID7sZ8UrE4=
		</data>
		<key>Resources\Image\AppleRecv.icns</key>
		<data>
		B7hfEZiy+0DN5mhJRhO8vRXKn7xj/CYaunv3+aPcw0I=
		</data>
		<key>Resources\Image\AppleTM.icns</key>
		<data>
		2THGhilwQruqRcy0LW1OqCGr5qVaxlWHQzKb96AtBwQ=
		</data>
		<key>Resources\Image\Cursor.icns</key>
		<data>
		jWnjyC+nftf8rbEBmttXiqobKyBgUNNVTnKTRH2k1vU=
		</data>
		<key>Resources\Image\ExtAppleRecv.icns</key>
		<data>
		7xLvdstZvJsbpWA0XV68d/Wvf2qj8o21dwlHiORrc38=
		</data>
		<key>Resources\Image\ExtAppleTM.icns</key>
		<data>
		qNVam12lgS9r1kxUMrTkFNa7IC4qyXEf1XAqyfXRq58=
		</data>
		<key>Resources\Image\ExtHardDrive.icns</key>
		<data>
		byYuBaNvH/PloBeLM5YmwVa+aN6Pm120uQZSzhF0RYs=
		</data>
		<key>Resources\Image\HardDrive.icns</key>
		<data>
		ZSydAoxJb6XadZEPkLMSur6b76ouYgo0bedlFcPdGZw=
		</data>
		<key>Resources\Image\OldAppleRecv.icns</key>
		<data>
		BYIIrqxgEPGXmoah2ZkMmI7rSVwXHwTZRE0u7ZeRAiI=
		</data>
		<key>Resources\Image\OldAppleTM.icns</key>
		<data>
		kfqbz0TgBkWq0TlYnZgBVjIigruI8fVrW+rjIc1fd4g=
		</data>
		<key>Resources\Image\OldCursor.icns</key>
		<data>
		cFrd6p5REd0tw/V/R0QLKCTIwR3FIZWor2hjc0pNQvQ=
		</data>
		<key>Resources\Image\OldExtAppleRecv.icns</key>
		<data>
		kCAVGiy7XvX5OeArbGsj/YA2tPFO9H5Nu2rsK3mlwaE=
		</data>
		<key>Resources\Image\OldExtAppleTM.icns</key>
		<data>
		v1i8lfUZhtA0AZzjSYTIm7LALt8ewR3XFtxesyqYpQg=
		</data>
		<key>Resources\Image\OldExtHardDrive.icns</key>
		<data>
		lx2LM6/BjCD+7JjBZwxTifveSSBuZ0a0vZozYfgPhsM=
		</data>
		<key>Resources\Image\OldHardDrive.icns</key>
		<data>
		bdk6FQmsEZNwuu23yYPgcPL2I3Ef/J5EMLFgZj8JmCk=
		</data>
		<key>Resources\Image\OldSelected.icns</key>
		<data>
		vx8ufLxFiYZRp2r38/XXdwAZCC5YA5X5CDi1nV1eDlA=
		</data>
		<key>Resources\Image\OldSelector.icns</key>
		<data>
		9rRKs/YfQiHpV0iqtD9yexvZ25YKg5d3OoDD3cepdMA=
		</data>
		<key>Resources\Image\OldShell.icns</key>
		<data>
		gEcPCfcDTmFjthsXV+0PmwUQJiThDYfLGU8EiMWm1Yo=
		</data>
		<key>Resources\Image\OldTool.icns</key>
		<data>
		ki1bEsK6JJbF7q3YNKyeoa+zh+UzJiAaQZSZOZWArYs=
		</data>
		<key>Resources\Image\OldWindows.icns</key>
		<data>
		wNcbRCTnfXw2Baf/ZnCvqoHh1c0O80ez6gQod9GAm/s=
		</data>
		<key>Resources\Image\Selected.icns</key>
		<data>
		3j7UwdA2B+fxXOpYKLe6onQ0k6QZJpjCim84A7Uho84=
		</data>
		<key>Resources\Image\Selector.icns</key>
		<data>
		IfpTJIn1e29emudlPZdU+Tc8kw8V38/qBG0D3gRuVvk=
		</data>
		<key>Resources\Image\Shell.icns</key>
		<data>
		p5qs2O/dgXshBdR3+inPDaS7dH3chT5CY0G9DVlO1Y8=
		</data>
		<key>Resources\Image\Tool.icns</key>
		<data>
		P/qbWF8tPEpxYMJaR8zmm0aYw44eX6zYSKQczHYKtuo=
		</data>
		<key>Resources\Image\Windows.icns</key>
		<data>
		vdSheJ+3sDd3ARNfArhva6RhRFwnuaQz9ZN/X7oh38o=
		</data>
		<key>Resources\Label\Apple.l2x</key>
		<data>
		aqQuuV8p4HnZyMw9D3OJ6GuyaHoi2LH5mOTMiHsP8B0=
		</data>
		<key>Resources\Label\Apple.lbl</key>
		<data>
		Beur9wk5wxkmid2OEO1n7hJr75sAEaEbilsftssHsVk=
		</data>
		<key>Resources\Label\AppleRecv.l2x</key>
		<data>
		45KSmt4VG9OpqhvlrzFyzYti6k1acdD10jKE7u1LBow=
		</data>
		<key>Resources\Label\AppleRecv.lbl</key>
		<data>
		ZNl8ExxImOlljcrtb0HRj9yZwvPOV7bBf+UVgq1quNw=
		</data>
		<key>Resources\Label\AppleTM.l2x</key>
		<data>
		vlVLy0ljWOJ6/CLBBKi3tTsni3zSNQSLAy3grJv3Fec=
		</data>
		<key>Resources\Label\AppleTM.lbl</key>
		<data>
		FHQN+5rnVtoLvnEYSWmOT/rc4a9Xm0rPh4L0FIqadtA=
		</data>
		<key>Resources\Label\EFIBoot.l2x</key>
		<data>
		tUq1rW76qR+qrXVI9RI8bnqCWflnAWtGnhDgCTg4IZ4=
		</data>
		<key>Resources\Label\EFIBoot.lbl</key>
		<data>
		Zcy1wg8NZqZmUacQhy6KkH19QbcEnGR9YgvK0sqONbA=
		</data>
		<key>Resources\Label\Other.l2x</key>
		<data>
		bToqVY/uMYK1bZIRKXjW3yY/r8UIi/vKtMxIflqRvPE=
		</data>
		<key>Resources\Label\Other.lbl</key>
		<data>
		mqInO/f5n7q8fukEDFzomQlFwJL4QxYRqlcmFoJ/f8o=
		</data>
		<key>Resources\Label\ResetNVRAM.l2x</key>
		<data>
		hYMKejHsjiMruJTRWlb1ghGYLD9nWj62/oGQ9AMABkM=
		</data>
		<key>Resources\Label\ResetNVRAM.lbl</key>
		<data>
		x/EwJcwlbQV6AmKggOwO2TP/9yAhi79HyHYvL+Q1AJg=
		</data>
		<key>Resources\Label\Shell.l2x</key>
		<data>
		iL/jdtTT78wa42h1t64Nwf3yf3o8LYWbC4pfh/Y60b8=
		</data>
		<key>Resources\Label\Shell.lbl</key>
		<data>
		7yts2fxOEcPtVYVV/Pvp+zN3/V2HISzrXh3B+pReBEU=
		</data>
		<key>Resources\Label\Tool.l2x</key>
		<data>
		L9RHriS0wbQ6Yx9aEWobWlnFj0mVn85MX+1+d08HvyQ=
		</data>
		<key>Resources\Label\Tool.lbl</key>
		<data>
		gAm1eccLkfAykSaU3SXahr3mwZTfF2WRTQmdjY5OezU=
		</data>
		<key>Resources\Label\Windows.l2x</key>
		<data>
		ss8U4b4/hAy/cUyNikpOdqY1x+5bsmqVOSIlhDCRdwg=
		</data>
		<key>Resources\Label\Windows.lbl</key>
		<data>
		qSL4ofi7m/ym98/PsrcsC6zCF+D2Et1O9Gd7w9UElkg=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		7OHNxdcgg9G9f4JHO1zNTUZAD4OZRLp+H4fFVL7reas=
		</data>
		<key>config.plist</key>
		<data>
		LAb8QdpG+hdLVun4gi0QaAbf1XKsYzV641qEhAQgQ6o=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
