<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-EC-USBX.aml</key>
		<data>
		PTOVH5J3XM8oZNZbe4Bd7xN5tcksOeqyzv5w+mf4cK8=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		vKBaCe6vOtexUxrHFrAb6DPNICjV++wQbEQYNLs3zyY=
		</data>
		<key>Bootstrap\Bootstrap.efi</key>
		<data>
		Ut1P7VgbTy7dR9Z5J81xwy04gSguKKas139AIgJ8d6Q=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		NZ5RY+/DT5moXMecw0kF6mrvQPxzRZosxsgl17X4fb8=
		</data>
		<key>Drivers\CrScreenshotDxe.efi</key>
		<data>
		RDwehDd3itoMfU948yiGGwIqk7xF/fx9OMNFvhke3+U=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		H4NN7AQZOTF1SZgeSIDVJ8h7cOnyYGAQVGfRoF9iYr8=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		wqGhsJZYzIdrQBixCK55QVedcqqoPWz84J0SxZ8UlQY=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		9evHyMSoHZRCB4q029G436G7j4s6emHWoRYy5rDBsJU=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\Info.plist</key>
		<data>
		zNHFdzq5oFp9bnseE0PYE7ZtKs5bJc7GyUgfBg2ARwc=
		</data>
		<key>Kexts\IntelMausiEthernet.kext\Contents\MacOS\IntelMausiEthernet</key>
		<data>
		I1AhRdY35RfzX24O4E3Mm0sbr9gUQOQbFU7OiNLFlQc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		l3iRiKg9e0HKoXYiAUyDdDlw4VAyz32FMwfEmrIvxsg=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		Un+j6lPH+59aIVrmoVjoz6T8zfa2EGpbX0Rhrb+vBjI=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		Lrobr5sY/3LEa/Z/XYxR6j/RfD5a6x6glLkHpPC5TBY=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		jkD5/+6T/FgmPiyYzBSYSKR3SyPFt466gCZYVlGcgfw=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		Vq0gA0cYKk8HvnvYGc140tG+acqefcDFZKV2DvOk4cI=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		oC5EHzGOZaDmuST4DLK8NcUiunV11Zg1VEvM3PizqqU=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		+xiu5BudTS9PD4VtptNdlKiQ5vh1TcaQ+NS0W6ojoC4=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		ObLdN5KRjSBaFR4D9rtznJ0QnZvpDlt3/zrV8gqUG10=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		YO7/Qvshg16e1yv8ivI6RIs2B6aq6DWdo+klw4wMpYw=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		RS7s1p+hwSkJNPSJwTcpvVHY1bdof9fde5Z8vIXWEZU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		unIg96Py0at7Q6kZnVF9Fn0iL0zygWweIhzfiMinqV4=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		osdIMFGLctSQZ+6abL6VfMJhiDyLJztnOS96EGaxA54=
		</data>
		<key>Keys\ca.pem</key>
		<data>
		b85bbEQ3kA7RaSSVSKhigyiOdU4QKBvZ4EZ/Izjoq0Q=
		</data>
		<key>Keys\privatekey.cer</key>
		<data>
		nfUoxMj43sU3COkXo0eFdYUM1ydB4gHLY7MvjGCB5Bs=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		7OHNxdcgg9G9f4JHO1zNTUZAD4OZRLp+H4fFVL7reas=
		</data>
		<key>config.plist</key>
		<data>
		NR+Hz/cLcl8f/LDI823U9y9P1IonS8VKeRTtkVZXu18=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
